In [137]:
import sklearn
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [138]:
X_test = pd.read_csv('mpg_X_test.csv')
X_train = pd.read_csv('mpg_X_train.csv')
y_train = pd.read_csv('mpg_y_train.csv')
X_test = X_test.drop(['Unnamed: 0'], axis = 1)
X_train = X_train.drop(['Unnamed: 0'], axis = 1)
y_train = y_train.drop(['Unnamed: 0'], axis = 1)

In [139]:
print(X_train.head())

                         name   mpg  cylinders  displacement  horsepower  \
0  pontiac j2000 se hatchback  31.0          4         112.0        85.0
1         pontiac safari (sw)  13.0          8         400.0       175.0
2          mazda glc custom l  37.0          4          91.0        68.0
3    oldsmobile vista cruiser  12.0          8         350.0       180.0
4                 peugeot 504  19.0          4         120.0        88.0

   weight  acceleration  model_year
0    2575          16.2          82
1    5140          12.0          71
2    2025          18.2          82
3    4499          12.5          73
4    3270          21.9          76

In [140]:
print(y_train.head())

   isUSA
0      1
1      1
2      0
3      1
4      0

In [141]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          278 non-null    object
 1   mpg           278 non-null    float64
 2   cylinders     278 non-null    int64
 3   displacement  278 non-null    float64
 4   horsepower    274 non-null    float64
 5   weight        278 non-null    int64
 6   acceleration  278 non-null    float64
 7   model_year    278 non-null    int64
dtypes: float64(4), int64(3), object(1)
memory usage: 17.5+ KB
None

In [142]:
# handling NA

In [143]:
X_train['horsepower'] = X_train['horsepower'].fillna(X_train['horsepower'].mean())
X_test['horsepower'] = X_test['horsepower'].fillna(X_test['horsepower'].mean())

In [144]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          278 non-null    object
 1   mpg           278 non-null    float64
 2   cylinders     278 non-null    int64
 3   displacement  278 non-null    float64
 4   horsepower    278 non-null    float64
 5   weight        278 non-null    int64
 6   acceleration  278 non-null    float64
 7   model_year    278 non-null    int64
dtypes: float64(4), int64(3), object(1)
memory usage: 17.5+ KB
None

In [145]:
print(X_train.describe())

              mpg   cylinders  displacement  horsepower       weight  \
count  278.000000  278.000000    278.000000  278.000000   278.000000
mean    23.732734    5.374101    189.994604  103.383212  2948.464029
std      7.647295    1.677084    105.471423   38.695458   862.949746
min     10.000000    3.000000     68.000000   46.000000  1613.000000
25%     18.000000    4.000000     98.000000   75.000000  2206.250000
50%     23.000000    4.000000    140.500000   90.500000  2737.500000
75%     29.000000    6.000000    258.000000  118.750000  3560.000000
max     46.600000    8.000000    455.000000  230.000000  5140.000000

       acceleration  model_year
count    278.000000  278.000000
mean      15.580216   76.057554
std        2.745907    3.605591
min        8.000000   70.000000
25%       14.000000   73.000000
50%       15.500000   76.000000
75%       17.000000   79.000000
max       24.800000   82.000000

In [146]:
print(X_train['name'].nunique())

221

In [147]:
X_train = X_train.drop(['name'], axis = 1)
X_test = X_test.drop(['name'], axis = 1)

In [148]:
X_train['cylinders'].value_counts() # Label Encoder

4    150
8     67
6     57
5      2
3      2
Name: cylinders, dtype: int64

In [149]:
X_train['model_year'].nunique()

13

In [150]:
COL_CAT = ['cylinders', 'model_year']
COL_NUM = ['mpg', 'displacement', 'horsepower', 'weight', 'acceleration']

In [151]:
from sklearn.model_selection import train_test_split

In [152]:
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size = 0.3)

In [153]:
from sklearn.preprocessing import MinMaxScaler

In [154]:
scaler = MinMaxScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [155]:
X_tr.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000,194.000000
mean,0.406904,5.309278,0.306102,0.305361,0.361607,0.449650,76.144330
std,0.221871,1.656270,0.273380,0.212577,0.244374,0.169454,3.678786
min,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,70.000000
25%,0.231214,4.000000,0.077519,0.157609,0.148023,0.357143,73.000000
50%,0.404624,4.000000,0.186047,0.239130,0.307505,0.446429,76.000000
75%,0.578035,6.000000,0.485788,0.355978,0.510957,0.535714,79.000000
max,1.000000,8.000000,1.000000,1.000000,1.000000,1.000000,82.000000

In [156]:
from sklearn.preprocessing import LabelEncoder

In [157]:
pd.get_dummies(X_tr['cylinders'])

     3  4  5  6  8
161  0  1  0  0  0
66   0  0  0  0  1
273  0  1  0  0  0
247  0  0  0  1  0
56   0  0  0  1  0
..  .. .. .. .. ..
239  0  1  0  0  0
49   0  1  0  0  0
82   0  0  0  1  0
27   0  0  0  0  1
183  0  1  0  0  0

[194 rows x 5 columns]

In [101]:
le = LabelEncoder()
le.fit(X_tr[['cylinders']])
X_tr[['cylinders']] = le.transform(X_tr[['cylinders']])
X_val[['cylinders']] = le.transform(X_val[['cylinders']])
X_test[['cylinders']] = le.transform(X_test[['cylinders']])

In [103]:
le = LabelEncoder()
le.fit(X_tr[['model_year']])
X_tr[['model_year']] = le.transform(X_tr[['model_year']])
X_val[['model_year']] = le.transform(X_val[['model_year']])
X_test[['model_year']] = le.transform(X_test[['model_year']])

In [106]:
from sklearn.ensemble import RandomForestClassifier

In [108]:
model_rf = RandomForestClassifier()
model_rf.fit(X_tr, y_tr.values.ravel())

RandomForestClassifier()

In [116]:
from xgboost import XGBClassifier

In [117]:
model_xgb = XGBClassifier()
model_xgb.fit(X_tr, y_tr.values.ravel())

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None)

In [119]:
from sklearn.metrics import roc_auc_score

In [126]:
y_pred_rf = model_rf.predict_proba(X_val)
y_pred_xgb = model_xgb.predict_proba(X_val)

In [131]:
score_rf = roc_auc_score(y_val, y_pred_rf[:, 1])
score_xgb = roc_auc_score(y_val, y_pred_xgb[:, 1])

In [132]:
print(score_rf)

0.956177723676202

In [134]:
print(score_xgb)

0.9732197200243458

In [136]:
model_xgb.predict_proba(X_test)[:, 1]

array([0.0048926 , 0.9611875 , 0.9942194 , 0.9967601 , 0.11858205,
       0.03175379, 0.00207114, 0.01210872, 0.22131997, 0.04264406,
       0.99482805, 0.03709261, 0.9963741 , 0.01060544, 0.01850354,
       0.02389176, 0.9963741 , 0.9933929 , 0.02255468, 0.99482673,
       0.9956905 , 0.99686927, 0.9963741 , 0.9963741 , 0.9963741 ,
       0.00871306, 0.03104271, 0.99771154, 0.99753964, 0.33709016,
       0.24185921, 0.00688084, 0.19751681, 0.8032755 , 0.9918928 ,
       0.22059327, 0.8149473 , 0.9962794 , 0.31170636, 0.98095244,
       0.9963741 , 0.019058  , 0.10483079, 0.44526872, 0.00800976,
       0.29217067, 0.12715024, 0.9963741 , 0.09610551, 0.97749466,
       0.2828317 , 0.00458381, 0.9918928 , 0.06296839, 0.9963741 ,
       0.9937854 , 0.9962603 , 0.8852336 , 0.99747974, 0.00726699,
       0.9111955 , 0.8370503 , 0.9963741 , 0.9953844 , 0.99159884,
       0.99321884, 0.9933929 , 0.03596915, 0.5673273 , 0.00333021,
       0.8123522 , 0.9906303 , 0.988851  , 0.00383877, 0.9956905 ,
       0.45435283, 0.9942194 , 0.10824291, 0.02884459, 0.9937854 ,
       0.99555534, 0.9937854 , 0.00137141, 0.9887023 , 0.9963741 ,
       0.9962447 , 0.00957367, 0.01727655, 0.05725911, 0.98671246,
       0.9918928 , 0.9963741 , 0.9963741 , 0.9963741 , 0.9933561 ,
       0.99142426, 0.00870012, 0.9953844 , 0.9963741 , 0.9978818 ,
       0.99931943, 0.9963741 , 0.9963741 , 0.9933929 , 0.99864703,
       0.02847911, 0.01315174, 0.98984104, 0.00727634, 0.9963741 ,
       0.42761287, 0.9941302 , 0.00390968, 0.99626595, 0.9936173 ,
       0.01110216, 0.99429214, 0.99385333, 0.9942194 , 0.01609308],
      dtype=float32)