In [79]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib as plt
import seaborn as sns

In [80]:
# Import Data

In [81]:
X_test = pd.read_csv('mpg_X_test.csv')
X_train = pd.read_csv('mpg_X_train.csv')
y_train = pd.read_csv('mpg_y_train.csv')

In [82]:
# Data 전처리

In [83]:
print(X_test.head())
print(X_train.head())
print(y_train.head())

   Unnamed: 0                    name   mpg  cylinders  displacement  \
0           0        maxda glc deluxe  34.1          4          86.0
1           1        plymouth sapporo  23.2          4         156.0
2           2  dodge coronet brougham  16.0          8         318.0
3           3        amc concord dl 6  20.2          6         232.0
4           4      fiat strada custom  37.3          4          91.0

   horsepower  weight  acceleration  model_year
0        65.0    1975          15.2          79
1       105.0    2745          16.7          78
2       150.0    4190          13.0          76
3        90.0    3265          18.2          79
4        69.0    2130          14.7          79
   Unnamed: 0                        name   mpg  cylinders  displacement  \
0           0  pontiac j2000 se hatchback  31.0          4         112.0
1           1         pontiac safari (sw)  13.0          8         400.0
2           2          mazda glc custom l  37.0          4          91.0
3           3    oldsmobile vista cruiser  12.0          8         350.0
4           4                 peugeot 504  19.0          4         120.0

   horsepower  weight  acceleration  model_year
0        85.0    2575          16.2          82
1       175.0    5140          12.0          71
2        68.0    2025          18.2          82
3       180.0    4499          12.5          73
4        88.0    3270          21.9          76
   Unnamed: 0  isUSA
0           0      1
1           1      1
2           2      0
3           3      1
4           4      0

In [84]:
X_test = X_test.drop(['Unnamed: 0'], axis = 1)
X_train = X_train.drop(['Unnamed: 0'], axis = 1)
y_train = y_train.drop(['Unnamed: 0'], axis = 1)

In [85]:
print(X_train.info()) # NA 값 확인, horsepowerNA 값 식별

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          278 non-null    object
 1   mpg           278 non-null    float64
 2   cylinders     278 non-null    int64
 3   displacement  278 non-null    float64
 4   horsepower    274 non-null    float64
 5   weight        278 non-null    int64
 6   acceleration  278 non-null    float64
 7   model_year    278 non-null    int64
dtypes: float64(4), int64(3), object(1)
memory usage: 17.5+ KB
None

In [86]:
from sklearn.impute import SimpleImputer # 단순한 NA값 대치가 가능

In [87]:
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')

In [88]:
X_train[['horsepower']] = imputer.fit_transform(X_train[['horsepower']])
X_test[['horsepower']] = imputer.fit_transform(X_test[['horsepower']])

In [89]:
print(X_train.describe())

              mpg   cylinders  displacement  horsepower       weight  \
count  278.000000  278.000000    278.000000  278.000000   278.000000
mean    23.732734    5.374101    189.994604  103.383212  2948.464029
std      7.647295    1.677084    105.471423   38.695458   862.949746
min     10.000000    3.000000     68.000000   46.000000  1613.000000
25%     18.000000    4.000000     98.000000   75.000000  2206.250000
50%     23.000000    4.000000    140.500000   90.500000  2737.500000
75%     29.000000    6.000000    258.000000  118.750000  3560.000000
max     46.600000    8.000000    455.000000  230.000000  5140.000000

       acceleration  model_year
count    278.000000  278.000000
mean      15.580216   76.057554
std        2.745907    3.605591
min        8.000000   70.000000
25%       14.000000   73.000000
50%       15.500000   76.000000
75%       17.000000   79.000000
max       24.800000   82.000000

In [90]:
COL_DEL = ['name']
COL_NUM = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year']
COL_CAT = []
COL_Y = ['isUSA']

In [91]:
X_train = X_train.iloc[:, 1:]
X_test = X_test.iloc[:, 1:]

In [92]:
# Modeling

In [93]:
dir(sklearn.model_selection)

['BaseCrossValidator',
 'BaseShuffleSplit',
 'GridSearchCV',
 'GroupKFold',
 'GroupShuffleSplit',
 'KFold',
 'LeaveOneGroupOut',
 'LeaveOneOut',
 'LeavePGroupsOut',
 'LeavePOut',
 'ParameterGrid',
 'ParameterSampler',
 'PredefinedSplit',
 'RandomizedSearchCV',
 'RepeatedKFold',
 'RepeatedStratifiedKFold',
 'ShuffleSplit',
 'StratifiedGroupKFold',
 'StratifiedKFold',
 'StratifiedShuffleSplit',
 'TimeSeriesSplit',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_search',
 '_split',
 '_validation',
 'check_cv',
 'cross_val_predict',
 'cross_val_score',
 'cross_validate',
 'learning_curve',
 'permutation_test_score',
 'train_test_split',
 'typing',
 'validation_curve']

In [94]:
print(dir(sklearn))

['__SKLEARN_SETUP__', '__all__', '__builtins__', '__cached__', '__check_build', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_distributor_init', '_loss', 'base', 'clone', 'config_context', 'decomposition', 'exceptions', 'externals', 'get_config', 'impute', 'linear_model', 'logger', 'logging', 'metrics', 'model_selection', 'neighbors', 'os', 'preprocessing', 'random', 'set_config', 'setup_module', 'show_versions', 'svm', 'sys', 'tree', 'utils']

In [95]:
from sklearn.model_selection import train_test_split

In [96]:
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size = 0.3)

In [97]:
from sklearn.preprocessing import StandardScaler

In [98]:
scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [99]:
X_tr.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,1.940000e+02,1.940000e+02,1.940000e+02,1.940000e+02,1.940000e+02,1.940000e+02,1.940000e+02
mean,1.785513e-16,-2.603874e-16,7.325183e-17,-4.807151e-17,-9.900442e-17,-1.716840e-17,-2.746944e-17
std,1.002587e+00,1.002587e+00,1.002587e+00,1.002587e+00,1.002587e+00,1.002587e+00,1.002587e+00
min,-1.756597e+00,-1.430628e+00,-1.198439e+00,-1.560124e+00,-1.572249e+00,-2.824869e+00,-1.647553e+00
25%,-7.320174e-01,-8.324773e-01,-8.288844e-01,-6.558672e-01,-8.694262e-01,-5.565552e-01,-8.180756e-01
50%,-1.291296e-01,-8.324773e-01,-4.924951e-01,-3.234198e-01,-2.209563e-01,1.052310e-02,1.140175e-02
75%,7.471991e-01,3.638234e-01,6.019547e-01,4.079644e-01,6.764360e-01,5.776014e-01,8.408791e-01
max,3.066505e+00,1.560124e+00,2.468679e+00,3.200522e+00,2.506492e+00,3.526409e+00,1.670356e+00

In [100]:
from sklearn.neighbors import KNeighborsClassifier

In [101]:
y_tr.values.ravel()

array([0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0], dtype=int64)

In [102]:
# KNN 분류 모델
modelKNN = KNeighborsClassifier(n_neighbors = 5, metric = 'euclidean')
modelKNN.fit(X_tr, y_tr.values.ravel())

KNeighborsClassifier(metric='euclidean')

In [103]:
# Decision Tree 분류 모델

In [104]:
from sklearn.tree import DecisionTreeClassifier

In [105]:
modelDT = DecisionTreeClassifier(max_depth = 10)
modelDT.fit(X_tr, y_tr)

DecisionTreeClassifier(max_depth=10)

In [106]:
y_val_pred = modelKNN.predict(X_val)

y_val_pred_probaKNN = modelKNN.predict_proba(X_val)
y_val_pred_probaDT = modelDT.predict_proba(X_val)

In [107]:
from sklearn.metrics import roc_auc_score

scoreKNN = roc_auc_score(y_val, y_val_pred_probaKNN[:,1])
scoreDT = roc_auc_score(y_val, y_val_pred_probaDT[:,1])

print('Score KNN : %.3f' %scoreKNN)
print('Score DT : %.3f' %scoreDT)

Score KNN : 0.861
Score DT : 0.884

In [111]:
print(modelDT.predict_proba(X_test))

[[1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]]

In [114]:
pred = modelDT.predict_proba(X_test)[:,1] ;print(pred)

[0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 1. 1. 1.
 1. 0. 0. 1. 1. 1. 1. 0. 1. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 1. 1. 1.
 0. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 0. 1. 1. 1. 1. 1. 0. 0. 0. 1. 1.
 1. 0. 1. 0. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1.
 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 0.]

In [119]:
pd.DataFrame({'isUSA': pred}).to_csv('mtcars_pred.csv', index = False)

In [120]:
pd.read_csv('mtcars_pred.csv')

     isUSA
0      0.0
1      0.0
2      1.0
3      1.0
4      0.0
..     ...
115    0.0
116    1.0
117    1.0
118    1.0
119    0.0

[120 rows x 1 columns]