In [1]:
import pandas as pd
import numpy as np
import sklearn

import warnings

warnings.filterwarnings('ignore')

# 1. 마무리문제 _ iris

In [2]:
iris = pd.read_csv('iris.csv') ; iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### 1.1 IRIS 데이터 세트에서 species 변수 값별로 petal_width 상위 25%를 구한 후, 가장 큰 값과 가장 작은 값 사이의 차이를 계산하시오

In [23]:
print(iris.groupby('species')['petal_width'].quantile([0.75]))

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

In [51]:
print(round(max(iris.groupby('species')['petal_width'].quantile([0.75])) - min(iris.groupby('species')['petal_width'].quantile([0.75]))))

2

### 1.2 IRIS 데이터 세트에서 sepal_length 변수의 전체 값들을 중복 없이 리스트로 만든 후, 오름차순으로 정렬했을 때 리스트의 10번째에 오는 숫자를 계산하시오

In [52]:
lst = iris['sepal_length'].unique().tolist()
lst.sort()
lst[9]

5.2

### 1.3 IRIS 데이터세트를 sepal_width 변수 값으로 내림차순 후 위에서부터 100개 행을 학습 데이터로 분리하고, 학습데이터에서 sepal_width의 표준편차 값을 구한 후 5을 곱한 값을 계산하시오

In [53]:
df = iris.sort_values(by = 'sepal_width', ascending = False).reset_index()
df_train = df.loc[0:99]
int(df_train['sepal_width'].std()*50)

16

### 1.4 IRIS데이터 세트에서 species 변수 값별로 petal_length 상위 10개 행(큰값)의 평균값을 구한 후, 평균값의 합을 계산하시오(최종 계산 값의 소수점 이하는 반올림한다.)

In [56]:
a = iris.sort_values(by = ['species', 'petal_length'], ascending = [True, False]); a

     sepal_length  sepal_width  petal_length  petal_width    species
24            4.8          3.4           1.9          0.2     setosa
44            5.1          3.8           1.9          0.4     setosa
5             5.4          3.9           1.7          0.4     setosa
18            5.7          3.8           1.7          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
..            ...          ...           ...          ...        ...
123           6.3          2.7           4.9          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
106           4.9          2.5           4.5          1.7  virginica

[150 rows x 5 columns]

In [67]:
round(a.groupby('species').head(10).groupby('species').mean()['petal_length'].sum())

13.0

### 1.5 IRIS 데이터 세트에서 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오 (단 이상치 범위는 (평균 + 2 * 표준편차) 이상이거나 (평균 -2*표준편차) 이하이다.)

In [74]:
mean = iris['sepal_length'].mean()
std = iris['sepal_length'].std()

In [81]:
low = mean - (2* std)
high = mean + (2* std)

In [86]:
iris[(iris['sepal_length'] <=low) | (iris['sepal_length'] >= high)].shape[0]

6

# 2. 마무리문제 _ Wine

In [57]:
wine = pd.read_csv('wine.csv') ; wine

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,NaN,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
176,13.17,2.59,2.37,NaN,120.0,NaN,0.68,0.53,1.46,9.30,0.60,1.62,840.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

### 2.1 Wine 데이터 세트에서 total_phenols 결측치를 제거하고 alcalinit_of_ash 변수의 결측치는 중앙값으로 대체한 후, alcalinity_of_ash 평균값을 계산하시오 (최종 계산 값의 소수점 이하는 버린다.)

In [58]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             168 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 163 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  class                         178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

In [104]:
data_drop = wine[wine['total_phenols'].notnull()]
data_drop

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0
5,14.20,1.76,2.45,15.2,112.0,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,14.16,2.51,2.48,20.0,91.0,1.68,0.70,0.44,1.24,9.70,0.62,1.71,660.0,2
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,2
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,2
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,2
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,2

In [103]:
med = data_drop['alcalinity_of_ash'].median() ; med

19.5

In [ ]:
data_drop.loc[data_drop['alcalinity_of_ash'].isnull(), 'alcalinity_of_ash'] = med

### 2.2 Wine데이터 세트에서 alcohol 값이 alcohol 평균 값 이상이고, color_intensity 값이 color_intensity 평균 값 이상인 데이터만 남겼을 때, 가장 많은 class 값을 구하시오

In [106]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             168 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 163 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  class                         178 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 19.6 KB

In [112]:
df = wine[(wine['alcohol'] >= wine['alcohol'].mean()) & (wine['color_intensity'] >= wine['color_intensity'].mean())] ; print(df.head())

   alcohol  malic_acid   ash  alcalinity_of_ash  magnesium  total_phenols  \
0    14.23        1.71  2.43               15.6      127.0           2.80
2    13.16        2.36  2.67               18.6      101.0            NaN
3    14.37        1.95  2.50               16.8      113.0           3.85
5    14.20        1.76  2.45               15.2      112.0           3.27
6    14.39        1.87  2.45               14.6       96.0           2.50

   flavanoids  nonflavanoid_phenols  proanthocyanins  color_intensity   hue  \
0        3.06                  0.28             2.29             5.64  1.04
2        3.24                  0.30             2.81             5.68  1.03
3        3.49                  0.24             2.18             7.80  0.86
5        3.39                  0.34             1.97             6.75  1.05
6        2.52                  0.30             1.98             5.25  1.02

   od280/od315_of_diluted_wines  proline  class
0                          3.92   1065.0      0
2                          3.17   1185.0      0
3                          3.45   1480.0      0
5                          2.85   1450.0      0
6                          3.58   1290.0      0

In [116]:
df['class'].value_counts()

0    37
2    23
1     1
Name: class, dtype: int64

In [117]:
print('0')

0

### 2.3 Wine 데이터 세트에서 class 1 에 해당하는 데이터의 ash 평균값과 Wine 데이터 세트의 모든 결측치를 제거한 후의 ash 값의 평균값의 차이의 절댓값을 계산하시오(최종 계산 값의 소수점 아래 4번째 자리에서 반올림 한다.)

In [127]:
wine[(wine['class'] == 1)]['ash'].mean()

2.244788732394366

In [128]:
wine.dropna()['ash'].mean()

2.3645161290322583

In [133]:
round(abs(wine[(wine['class'] == 1)]['ash'].mean() - wine.dropna()['ash'].mean()), 3)

0.12

### 2.4 Wine 데이터 세트에서 alcohol 변수의 상위에서 20번째 값 alcohol을 오름차순 정렬했을 때 20번째 위치한 값으로 상위 20개 값을 변환한 후, proanthocyaninis가 2 이하인 데이터를 추출하여 alcohol의 평균값을 계산하시오. (최종 계산 값의 소수점 아래 3번째 자리에서 반올림 한다.)

### 2.5 Wine 데이터 세트에서 class 1에 해당하는 데이터 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하고 class 2에 해당하는 데이터 proline 변수의 제 3사분위수와 제 1사분위수 차이를 구하여 두 값의차이의 절댓값을 계산하시오.

In [156]:
a, b = wine[(wine['class'] == 1)]['proline'].quantile([0.75, 0.25])

In [157]:
c, d = wine[(wine['class'] == 2)]['proline'].quantile([0.75, 0.25])

In [161]:
abs((a-b) - (c-d))

68.5

# 3. 2021 3회 기출문제

### 3-1 다음은 California Housing 데이터 세트이다. 데이터 중 결측치가 있는 경우 해당 데이터의 행을 모두 제거하고, 첫번째 행부터 순서대로 70%까지의 데이터를 훈련 데이터로 추출한 데이터 세트를 구성한다. 변수 중 'housing_median_age'의 Q1 값을 정수로 계산하시오.

In [90]:
housing = pd.read_csv('301_housing.csv')

In [3]:
print(housing.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [8]:
# NA 제거
housing = housing.dropna(axis = 0)
print(housing.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB
None

In [14]:
housing_70 = housing.iloc[:int(len(housing) * 0.7)]

In [15]:
print(housing_70.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [20]:
print(int(housing_70['housing_median_age'].quantile(0.25)))

19

### 3-2 다음은 국가별 연도별 인구 10만명 당 결핵 유병률 데이터 세트이다. 2000년도의 국가별 결핵 유병률 데이터 세트에서 2000년도의 평균값보다 더 큰 유병률 값을 가진 국가의 수를 계산하시오.

In [103]:
world = pd.read_csv('302_worlddata.csv')

In [22]:
print(world.head())

   year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
0  1999            0     89.0     25.0    245.0   217.0              102.0
1  2000            0    132.0      0.0    138.0    57.0              128.0
2  2001            0     54.0     14.0    312.0    45.0               45.0
3  2002            0      4.9      0.7     12.4     5.9                4.9

   Argentina  Armenia  Australia  ...  Tanzania    USA  Uruguay  Uzbekistan  \
0      193.0     21.0      261.0  ...      36.0  249.0    115.0        25.0
1       25.0    179.0       72.0  ...       6.0  158.0     35.0       101.0
2      221.0     11.0      212.0  ...       1.0   84.0    220.0         8.0
3        8.3      3.8       10.4  ...       5.7    8.7      6.6         2.4

   Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
0     21.0      333.0      111    6.0    32.0      64.0
1     18.0      100.0        2    0.0    19.0      18.0
2     11.0        3.0        1    0.0     4.0       4.0
3      0.9        7.7        2    0.1     2.5       4.7

[4 rows x 194 columns]

In [26]:
world_a = world.drop(['year'], axis = 1)

In [32]:
mean_2000 = world_a.iloc[1, :].mean() ; print(mean_2000)

81.01036269430051

In [38]:
world_T = world.T

In [40]:
world_T

                  0       1       2       3
year         1999.0  2000.0  2001.0  2002.0
Afghanistan     0.0     0.0     0.0     0.0
Albania        89.0   132.0    54.0     4.9
Algeria        25.0     0.0    14.0     0.7
Andorra       245.0   138.0   312.0    12.4
...             ...     ...     ...     ...
Venezuela     333.0   100.0     3.0     7.7
Vietnam       111.0     2.0     1.0     2.0
Yemen           6.0     0.0     0.0     0.1
Zambia         32.0    19.0     4.0     2.5
Zimbabwe       64.0    18.0     4.0     4.7

[194 rows x 4 columns]

In [42]:
world_T_d = world_T.drop(['year'], axis = 0)

In [46]:
mean = world_T_d[1].mean()

In [49]:
print(len(world_T_d[world_T_d[1] > mean]))

76

### 3-3 다음은 Titanic 데이터 세트이다. 주어진 데이터 세트의 칼럼 중 빈 값 또는 결측치를 확인하여, 결측치의 비율이 가장 높은 변수명을 출력하시오.

In [132]:
titanic = pd.read_csv('303_titanic.csv')

In [56]:
a = titanic.isna().sum()

In [58]:
max_ind = a.argmax() ; max_ind

5

In [61]:
print(a.index[max_ind])

Age

# 4. 2021 2회 기출문제

### 4-1. 다음은 Boston Housing 데이터 세트이다. 범죄율 칼럼인 Crim  항목의 상위에서 10번째 값(즉, 범죄율을 큰 순서로 내림차순 정렬했을 때 10번째 위치한 값) 으로 상위 10개의 값을 변환한 후, age가 80이상인 데이터를 추출하여 crim의 평균값을 계산하시오.

In [153]:
boston = pd.read_csv('201_boston.csv')

In [63]:
print(boston.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0

   PTRATIO       B  LSTAT
0     15.3  396.90   4.98
1     17.8  396.90   9.14
2     17.8  392.83   4.03
3     18.7  394.63   2.94
4     18.7  396.90   5.33

In [70]:
boston_sort = boston.sort_values('CRIM', ascending = False).reset_index() ; print(boston_sort)

     index      CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD  \
0      380  88.97620   0.0  18.10   0.0  0.671  6.968   91.9  1.4165  24.0
1      418  73.53410   0.0  18.10   0.0  0.679  5.957  100.0  1.8026  24.0
2      405  67.92080   0.0  18.10   0.0  0.693  5.683  100.0  1.4254  24.0
3      410  51.13580   0.0  18.10   0.0  0.597  5.757  100.0  1.4130  24.0
4      414  45.74610   0.0  18.10   0.0  0.693  4.519  100.0  1.6582  24.0
..     ...       ...   ...    ...   ...    ...    ...    ...     ...   ...
501     55   0.01311  90.0   1.22   0.0  0.403  7.249   21.9  8.6966   5.0
502    341   0.01301  35.0   1.52   0.0  0.442  7.241   49.3  7.0379   1.0
503    285   0.01096  55.0   2.25   0.0  0.389  6.453   31.9  7.3073   1.0
504    284   0.00906  90.0   2.97   0.0  0.400  7.088   20.8  7.3073   1.0
505      0   0.00632  18.0   2.31   0.0  0.538  6.575   65.2  4.0900   1.0

       TAX  PTRATIO       B  LSTAT
0    666.0     20.2  396.90  17.21
1    666.0     20.2   16.45  20.62
2    666.0     20.2  384.97  22.98
3    666.0     20.2    2.60  10.11
4    666.0     20.2   88.27  36.98
..     ...      ...     ...    ...
501  226.0     17.9  395.93   4.81
502  284.0     15.5  394.74   5.49
503  300.0     15.3  394.72   8.23
504  285.0     15.3  394.72   7.85
505  296.0     15.3  396.90   4.98

[506 rows x 14 columns]

In [73]:
boston_10 = boston_sort['CRIM'][9]

In [77]:
boston_sort.iloc[:9, 1] = boston_10

In [78]:
boston_sort.head(10)

,index,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,25.9406,25.9406,0.0,18.1,0.0,0.671,6.968,91.9,1.4165,24.0,666.0,20.2,396.90,17.21
1,25.9406,25.9406,0.0,18.1,0.0,0.679,5.957,100.0,1.8026,24.0,666.0,20.2,16.45,20.62
2,25.9406,25.9406,0.0,18.1,0.0,0.693,5.683,100.0,1.4254,24.0,666.0,20.2,384.97,22.98
3,25.9406,25.9406,0.0,18.1,0.0,0.597,5.757,100.0,1.4130,24.0,666.0,20.2,2.60,10.11
4,25.9406,25.9406,0.0,18.1,0.0,0.693,4.519,100.0,1.6582,24.0,666.0,20.2,88.27,36.98
5,25.9406,25.9406,0.0,18.1,0.0,0.693,5.531,85.4,1.6074,24.0,666.0,20.2,329.46,27.38
6,25.9406,25.9406,0.0,18.1,0.0,0.693,5.453,100.0,1.4896,24.0,666.0,20.2,396.90,30.59
7,25.9406,25.9406,0.0,18.1,0.0,0.679,6.202,78.7,1.8629,24.0,666.0,20.2,18.82,14.52
8,25.9406,25.9406,0.0,18.1,0.0,0.597,5.155,100.0,1.5894,24.0,666.0,20.2,210.97,20.08
9,417.0000,25.9406,0.0,18.1,0.0,0.679,5.304,89.1,1.6475,24.0,666.0,20.2,127.36,26.64

In [82]:
print(boston_sort[(boston_sort['AGE'] >= 80)].CRIM.mean())

5.759386625

### 4-2.다음은 California Housing 데이터 세트이다. 주어진 데이터의 첫번째 행부터순서대로 80%까지의 데이터를 훈련 데이터로 추출 후, 전체 방 개수 칼럼을 의미하는 'total bedrooms'변수의 결측치를 'total bedrooms' 변수의 중앙값으로 대체한 데이터 세트를 구성한다. 결측치 대체 전의 'total_bedrooms' 변수 표준편차 값과 결측치 대체 후의 'total_bderooms' 변수 표준편차 값의 차이에 대한 절댓값을 계산하시오.

In [251]:
cali = pd.read_csv('202_housing.csv') ; cali.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [252]:
df = cali.iloc[:int(len(cali) * 0.8), :]
med = df['total_bedrooms'].median()
med

436.0

In [222]:
cali.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20592 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [242]:
cali_80 = int(cali.shape[0] * 0.8) ; cali_80

16512

In [243]:
cali_80_df = cali.iloc[:int(cali_80), :]

In [244]:
print(cali_80_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           16512 non-null  float64
 1   latitude            16512 non-null  float64
 2   housing_median_age  16512 non-null  float64
 3   total_rooms         16512 non-null  float64
 4   total_bedrooms      16353 non-null  float64
 5   population          16512 non-null  float64
 6   households          16512 non-null  float64
 7   median_income       16512 non-null  float64
 8   median_house_value  16512 non-null  float64
 9   ocean_proximity     16512 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.3+ MB
None

In [245]:
cali_80_med = cali_80_df['total_bedrooms'].median()

In [227]:
cali_80_df_na = cali_80_df.fillna(cali_80_med)

In [228]:
cali_80_df['total_bedrooms'].std()

433.9254297608805

In [229]:
cali_80_df_na['total_bedrooms'].std()

433.9254297608805

In [140]:
abs(cali_80_df['total_bedrooms'].std() - cali_80_df_na['total_bedrooms'].std())

1.9751472916456692

### 4-3. 2번 문항에서 활용한 California Housing 데이터 세트를 그대로 활용한다. 인구 칼럼인 population 항목의 이상값의 합계를 계산하시오. (* 이상값은 평균에서 1.5*표준편차를 초과하거나 미만인 값의 범위로 정한다.)

In [265]:
cali = pd.read_csv('203_housing.csv') ; cali.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [174]:
mean = cali['population'].mean()

In [175]:
mean

1425.4767441860465

In [176]:
std = cali['population'].std()

In [177]:
std

1132.462121765341

In [178]:
low = mean - (1.5 * std)
high = mean + (1.5 * std)

In [179]:
low

-273.2164384619648

In [180]:
high

3124.169926834058

In [182]:
print(cali[(cali['population'] < low) | (cali['population'] > high)].population.sum())

5607295.0