In [167]:
import sklearn
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [168]:
X_test = pd.read_csv('stellar_X_test.csv')
X_train = pd.read_csv('stellar_X_train.csv')
y_train = pd.read_csv('stellar_y_train.csv')
X_test = X_test.drop(['Unnamed: 0'], axis = 1)
X_train = X_train.drop(['Unnamed: 0'], axis = 1)
y_train = y_train.drop(['Unnamed: 0'], axis = 1)

In [169]:
print(X_train.head(5))

        alpha      delta         u         g         r         i         z  \
0   15.543143  11.633094  22.93538  20.90945  19.21472  18.55761  18.25810
1  229.830659  22.738286  19.23876  18.55859  18.35505  18.30021  18.02694
2  197.034525   4.473539  21.53487  20.89188  20.05817  19.31662  18.85004
3  350.480205  33.899168  21.74429  21.16560  20.75535  20.17831  19.89537
4    2.394550  -4.361202  22.31607  22.79926  21.83227  21.34860  21.70997

   redshift  run_ID  rerun_ID  cam_col  field_ID  plate
0  0.351560    7787       301        2       303   4663
1  2.342957    4649       301        5       297   3955
2  0.654545    2247       301        3       242   4758
3  1.722429    8157       301        3        66   7757
4  0.852792    7824       301        5       332   9344

In [170]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alpha     70000 non-null  float64
 1   delta     70000 non-null  float64
 2   u         70000 non-null  float64
 3   g         70000 non-null  float64
 4   r         70000 non-null  float64
 5   i         70000 non-null  float64
 6   z         70000 non-null  float64
 7   redshift  70000 non-null  float64
 8   run_ID    70000 non-null  int64
 9   rerun_ID  70000 non-null  int64
 10  cam_col   70000 non-null  int64
 11  field_ID  70000 non-null  int64
 12  plate     70000 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 6.9 MB
None

In [171]:
print(X_train.describe())

              alpha         delta             u             g             r  \
count  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000
mean     177.535809     24.107885     21.938806     20.486718     19.644011
std       96.483093     19.665057     37.942814     37.925201      1.852053
min        0.005528    -18.785328  -9999.000000  -9999.000000      9.822070
25%      127.385304      5.115922     20.349987     18.957325     18.136182
50%      180.706865     23.579507     22.183860     21.095445     20.122805
75%      233.942154     39.871336     23.684145     22.121072     21.039012
max      359.999615     82.947622     32.781390     31.602240     29.571860

                  i             z      redshift        run_ID  rerun_ID  \
count  70000.000000  70000.000000  70000.000000  70000.000000   70000.0
mean      19.082969     18.624590      0.575246   4478.649443     301.0
std        1.755997     37.904705      0.729921   1965.326847       0.0
min        9.469903  -9999.000000     -0.009971    109.000000     301.0
25%       17.733733     17.463838      0.052602   3185.000000     301.0
50%       19.399590     19.001010      0.422838   4188.000000     301.0
75%       20.391340     19.917578      0.700399   5326.000000     301.0
max       32.141470     28.790550      7.011245   8162.000000     301.0

            cam_col      field_ID         plate
count  70000.000000  70000.000000  70000.000000
mean       3.510500    186.045714   5127.852900
std        1.585203    148.661268   2947.452991
min        1.000000     11.000000    266.000000
25%        2.000000     82.000000   2525.750000
50%        4.000000    146.000000   4978.000000
75%        5.000000    241.000000   7389.000000
max        6.000000    989.000000  12547.000000

In [172]:
print(X_train['rerun_ID'].unique()) # rerun_id는 두개의 변수만을 가짐

[301]

In [173]:
from sklearn.model_selection import train_test_split

In [174]:
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size = 0.3)

In [175]:
X_tr['cam_col'].value_counts()

4    9571
3    9296
5    8998
2    8431
1    6440
6    6264
Name: cam_col, dtype: int64

In [176]:
X_tr['field_ID'].unique()

array([285, 169, 142, 170, 231,  46, 128, 178, 118, 120,  90, 144, 631,
       147,  80,  74,  52, 764, 616,  37,  87, 255,  39, 111,  64, 116,
       133,  76, 250, 173, 350,  60,  82,  96, 378, 477,  17,  53,  42,
       226, 388,  59,  57,  88,  56,  55,  25,  30, 114,  94, 264, 294,
        83, 330, 346, 195, 168, 109, 272,  19, 172, 184, 340, 165, 191,
        45, 166, 107, 198, 370, 310, 202, 314, 500, 123, 366,  62, 337,
       180, 100, 139,  85,  92, 219,  28, 119, 258,  61, 248, 201,  72,
       132, 183,  36, 427, 155, 389, 127, 404, 239, 117,  35, 236,  54,
       372, 233,  66, 115,  13, 136, 101, 246, 354, 461, 367,  71, 140,
       164, 163, 240, 217, 160, 121,  75, 245, 363, 149, 151, 204, 334,
        99,  65, 108, 211, 181, 332, 194, 336, 105,  31,  97, 171,  91,
       275, 506, 156,  69, 446, 177,  86, 212, 263,  27, 205, 104, 176,
        67,  95,  63, 112, 106, 230, 570, 143, 395, 301, 113,  43, 193,
       279,  78, 364, 186, 327, 157, 615,  18, 152, 129, 241,  49, 145,
       436, 247,  29, 280, 284, 333, 228, 256, 190, 225, 235, 224, 189,
       339,  89, 138, 361, 102, 141,  77,  81, 400, 818,  40,  79, 810,
       271, 154, 159,  32, 286, 357, 124, 185, 110, 394, 174, 405, 153,
        68, 303,  93, 199, 206, 238, 290, 266, 449,  84, 158, 311, 134,
       167, 200, 179, 371, 265,  98, 479, 203, 267, 126,  22, 257, 251,
       222, 161, 293, 445, 103, 218, 326, 300, 182, 273,  14,  58,  23,
       234, 351, 148,  24, 348,  11, 208, 288,  47, 135, 146, 345, 811,
        38, 762, 137,  34, 664,  15, 435,  41, 625, 603, 227, 318,  50,
       338, 220, 269, 499, 252, 130, 467, 213, 335, 613, 254, 598, 386,
       385, 175, 262, 209,  44, 125, 207, 418, 244, 634, 261, 826,  33,
       359, 439, 162, 403, 362, 797, 223, 383, 344, 349,  16, 150, 409,
        21, 457, 597, 214, 369,  73, 221, 304, 488, 534, 122, 253, 210,
        70, 216, 315, 287, 448, 291, 260, 289, 237, 298, 187, 411, 465,
       805, 458, 596, 356,  26, 270, 393, 309, 347, 277, 196, 402, 343,
       442, 576, 360, 474, 305, 434, 823, 463, 297, 299, 229, 478, 292,
       342, 131, 605, 680,  48, 387, 281, 472, 528, 391, 462, 429, 408,
       259, 650, 192, 756, 609, 188, 475, 376, 268, 563, 323, 324, 242,
       533, 466, 243, 392, 283, 468, 620, 821,  20, 450, 278,  51, 459,
       421, 313, 705, 574, 799, 541, 518, 325, 375, 497, 586, 317, 379,
       498, 443, 322, 390, 444, 558, 312, 328, 495, 215, 296, 197, 569,
       681, 591, 602, 377, 307, 274, 416, 471, 772, 401, 249, 630, 373,
       232, 502, 412, 813, 607, 577, 536, 430, 353, 671, 482, 355, 306,
       525, 316, 352, 329, 493,  12, 432, 579, 492, 490, 308, 673, 374,
       397, 793, 527, 608, 451, 798, 842, 531, 331, 788, 831, 829, 380,
       642, 417, 368, 489, 504, 668, 485, 761, 365, 621, 551, 698, 302,
       839, 804, 816, 407, 661, 682, 649, 566, 526, 276, 382, 743, 384,
       321, 662, 491, 282, 486, 396, 410, 560, 663, 460, 584, 669, 644,
       484, 480, 319, 520, 820, 547, 562, 419, 769, 800, 595, 544, 483,
       487, 406, 431, 556, 635, 320, 509, 672, 618, 648, 792, 453, 699,
       638, 501, 413, 426, 573, 796, 530, 548, 398, 766, 433, 783, 381,
       568, 415, 399, 768, 665, 736, 341, 694, 781, 537, 422, 545, 476,
       830, 727, 441, 425, 767, 511, 539, 832, 739, 657, 622, 706, 585,
       640, 503, 612, 725, 447, 456, 722, 610, 778, 420, 423, 757, 632,
       455, 688, 517, 505, 470, 771, 840, 599, 812, 454, 507, 763, 555,
       588, 496, 759, 440, 571, 464, 795, 437, 836, 519, 651, 561, 755,
       438, 611, 424, 565, 629, 590, 600, 617, 358, 481, 532, 546, 787,
       740, 719, 786, 553, 513, 738, 589, 723, 469, 751, 567, 582, 522,
       514, 777, 606, 746, 822, 295, 515, 693, 770, 543, 828, 802, 789,
       414, 627, 494, 790, 711, 656, 814, 540, 765, 846, 508, 516, 626,
       633, 646, 581, 782, 535, 529, 801, 776, 819, 687, 684, 824, 686,
       817, 524, 809, 741, 559, 691, 841, 641, 552, 643, 825, 785, 578,
       580, 803, 791, 587, 775, 774, 592, 658, 542, 521, 452, 428, 938,
       696, 512, 601, 701, 704, 758, 784, 645, 538, 624, 827, 593, 689,
       639, 637, 720, 666, 604, 473, 549, 685, 677, 554, 674, 557, 594,
       652, 583, 647, 700, 837, 707, 572, 676, 523, 695, 747, 754, 653,
       660, 623, 683, 670, 678, 675, 510, 773, 636, 718, 815, 843, 714,
       564, 937, 679, 550, 779, 834, 940, 844, 807, 614, 808, 717, 732,
       752, 726, 794, 833, 847, 989, 749, 835, 941, 729, 716, 655, 745,
       715, 702, 628, 575, 780, 731, 690, 806, 654, 659, 979, 713, 934,
       712, 737, 845, 753, 838, 760, 733, 692, 978, 750, 932, 619, 703,
       667, 929, 977, 748, 724], dtype=int64)

In [177]:
X_tr['plate'].nunique()

6057

In [178]:
COL_NUM = ['alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'redshift', 'run_ID', 'cam_col', 'field_ID', 'plate']
COL_CAT = ['rerun_ID']

In [179]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [180]:
X_tr = X_tr.drop(['rerun_ID'], axis = 1)
X_val = X_val.drop(['rerun_ID'], axis = 1)
X_test = X_test.drop(['rerun_ID'], axis = 1)

In [181]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()

model_rf.fit(X_tr, y_tr.values.ravel())

RandomForestClassifier()

In [182]:
from xgboost import XGBClassifier

model_xgb = XGBClassifier()
model_xgb.fit(X_tr, y_tr.values.ravel())

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method=None, validate_parameters=False, verbosity=None)

In [183]:
from sklearn.metrics import roc_auc_score

y_pred_rf = model_rf.predict_proba(X_val)
y_pred_xgb = model_xgb.predict_proba(X_val)

score_rf = roc_auc_score(y_val, y_pred_rf[:, 1])
score_xgb = roc_auc_score(y_val, y_pred_xgb[:, 1])

print(score_rf)
print(score_xgb)

0.9939798227255087
0.9945243282753928

In [184]:
pred = model_xgb.predict_proba(X_test)[:, 1]

In [185]:
pred

array([9.9845624e-01, 4.8855843e-04, 9.9657428e-01, ..., 8.5496604e-03,
       1.2167029e-02, 9.9429321e-01], dtype=float32)

In [189]:
pd.DataFrame({'index' : X_test.index, 'target': pred}).to_csv('한석.csv',index = False)