In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
# import Data

In [3]:
X_train = pd.read_csv('penguin_X_train.csv')
X_test = pd.read_csv('penguin_X_test.csv')
y_train = pd.read_csv('penguin_y_train.csv')

X_train = X_train.drop(['Unnamed: 0'], axis = 1)
X_test = X_test.drop(['Unnamed: 0'], axis = 1)
y_train = y_train.drop(['Unnamed: 0'], axis = 1)

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
print(X_train.shape)

(240, 6)

In [6]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB
None

In [7]:
print(X_train.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      238.000000     238.000000         238.000000
mean        43.948739      17.205462         200.684874
std          5.475004       1.973498          14.110080
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.700000      17.300000         197.000000
75%         48.700000      18.700000         213.000000
max         58.000000      21.500000         231.000000

In [8]:
train = pd.concat([X_train, y_train], axis = 1) ; train.head()

,species,island,sex,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,Adelie,Torgersen,NaN,42.0,20.2,190.0,4250.0
1,Gentoo,Biscoe,FEMALE,43.5,15.2,213.0,4650.0
2,Adelie,Torgersen,MALE,42.8,18.5,195.0,4250.0
3,Chinstrap,Dream,MALE,53.5,19.9,205.0,4500.0
4,Gentoo,Biscoe,MALE,50.2,14.3,218.0,5700.0

In [19]:
print(train.loc[(train.sex.isna()) | (train.bill_length_mm.isna()) | (train.bill_depth_mm.isna()) | (train.flipper_length_mm.isna()) | (train.body_mass_g.isna())])

    species     island  sex  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen  NaN            42.0           20.2              190.0
6    Gentoo     Biscoe  NaN            44.5           14.3              216.0
43   Gentoo     Biscoe  NaN             NaN            NaN                NaN
66   Adelie  Torgersen  NaN            37.8           17.3              180.0
88   Gentoo     Biscoe  NaN            47.3           13.8              216.0
89   Adelie  Torgersen  NaN            37.8           17.1              186.0
110  Gentoo     Biscoe  NaN            44.5           15.7              217.0
229  Adelie  Torgersen  NaN             NaN            NaN                NaN

     body_mass_g
0         4250.0
6         4100.0
43           NaN
66        3700.0
88        4725.0
89        3300.0
110       4875.0
229          NaN

In [20]:
train = train.dropna()

In [21]:
train.reset_index(drop = True, inplace = True)

In [22]:
X_train = train[['species', 'island', 'sex', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']]
y_train = train[['body_mass_g']]

In [23]:
print(X_train.info()) # NA 모두 제거

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            232 non-null    object
 1   island             232 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     232 non-null    float64
 4   bill_depth_mm      232 non-null    float64
 5   flipper_length_mm  232 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.0+ KB
None

In [25]:
 print(X_train.describe()) # 이상치가 있는가?

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

In [27]:
COL_DEL = []
COL_NUM = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm'] # scaling으로 단위 통일 필요
COL_CAT = ['species', 'island', 'sex'] # 더미변수 처리 필요
COL_Y = ['body_mass_g']

In [28]:
X = pd.concat([X_train, X_test])

In [29]:
from sklearn.preprocessing import OneHotEncoder

In [31]:
ohe = OneHotEncoder(handle_unknown = 'ignore')
ohe.fit(X[COL_CAT])

X_train_res = ohe.transform(X_train[COL_CAT])
X_test_res = ohe.transform(X_test[COL_CAT])

In [33]:
print(X_train_res)

  (0, 2)	1.0
  (0, 3)	1.0
  (0, 6)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (1, 7)	1.0
  (2, 1)	1.0
  (2, 4)	1.0
  (2, 7)	1.0
  (3, 2)	1.0
  (3, 3)	1.0
  (3, 7)	1.0
  (4, 0)	1.0
  (4, 4)	1.0
  (4, 6)	1.0
  (5, 2)	1.0
  (5, 3)	1.0
  (5, 7)	1.0
  (6, 2)	1.0
  (6, 3)	1.0
  (6, 6)	1.0
  (7, 0)	1.0
  (7, 5)	1.0
  (7, 6)	1.0
  (8, 2)	1.0
  :	:
  (223, 6)	1.0
  (224, 2)	1.0
  (224, 3)	1.0
  (224, 7)	1.0
  (225, 0)	1.0
  (225, 4)	1.0
  (225, 7)	1.0
  (226, 1)	1.0
  (226, 4)	1.0
  (226, 7)	1.0
  (227, 1)	1.0
  (227, 4)	1.0
  (227, 6)	1.0
  (228, 2)	1.0
  (228, 3)	1.0
  (228, 7)	1.0
  (229, 0)	1.0
  (229, 5)	1.0
  (229, 6)	1.0
  (230, 1)	1.0
  (230, 4)	1.0
  (230, 6)	1.0
  (231, 2)	1.0
  (231, 3)	1.0
  (231, 6)	1.0

In [34]:
X_train_ohe = pd.DataFrame(X_train_res.todense(), columns = ohe.get_feature_names())
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns = ohe.get_feature_names())

In [35]:
print(X_train_ohe)

     x0_Adelie  x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  \
0          0.0           0.0        1.0        1.0       0.0           0.0
1          1.0           0.0        0.0        0.0       0.0           1.0
2          0.0           1.0        0.0        0.0       1.0           0.0
3          0.0           0.0        1.0        1.0       0.0           0.0
4          1.0           0.0        0.0        0.0       1.0           0.0
..         ...           ...        ...        ...       ...           ...
227        0.0           1.0        0.0        0.0       1.0           0.0
228        0.0           0.0        1.0        1.0       0.0           0.0
229        1.0           0.0        0.0        0.0       0.0           1.0
230        0.0           1.0        0.0        0.0       1.0           0.0
231        0.0           0.0        1.0        1.0       0.0           0.0

     x2_FEMALE  x2_MALE
0          1.0      0.0
1          0.0      1.0
2          0.0      1.0
3          0.0      1.0
4          1.0      0.0
..         ...      ...
227        1.0      0.0
228        0.0      1.0
229        1.0      0.0
230        1.0      0.0
231        1.0      0.0

[232 rows x 8 columns]

In [41]:
X_train_fin = pd.concat([X_train[COL_NUM], X_train_ohe], axis = 1)
X_test_fin = pd.concat([X_test[COL_NUM], X_test_ohe], axis = 1)

In [43]:
# 데이터 모델링

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size = 0.3)

In [46]:
from sklearn.preprocessing import MinMaxScaler

In [47]:
scaler = MinMaxScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test_fin[COL_NUM] = scaler.transform(X_test_fin[COL_NUM])

In [50]:
from sklearn.linear_model import LinearRegression

modelLR = LinearRegression()
modelLR.fit(X_tr, y_tr)

y_val_pred = modelLR.predict(X_val)
print(y_val_pred)

[[4029.19472616]
 [5454.56880879]
 [5520.80462431]
 [4299.97441643]
 [3926.77316297]
 [5359.56742053]
 [5274.05489427]
 [4115.13473359]
 [3439.89088455]
 [5430.46419722]
 [3840.94750596]
 [4713.08518061]
 [4135.89638087]
 [5693.20643184]
 [4305.39679504]
 [3517.06775709]
 [5535.47301736]
 [3502.99520417]
 [3303.36109277]
 [3433.79683251]
 [3568.11721083]
 [3349.79846184]
 [4759.31405049]
 [4822.19898362]
 [5474.13358237]
 [4765.14801978]
 [3274.2639884 ]
 [3585.75924395]
 [3931.883012  ]
 [3080.88190825]
 [3275.02756597]
 [4668.25070547]
 [4770.41869382]
 [4171.65795285]
 [3454.17550701]
 [5305.63863552]
 [3248.6965024 ]
 [4634.73985561]
 [3473.27940888]
 [5427.81356952]
 [3297.42645554]
 [4282.37464978]
 [3588.05567676]
 [4177.23558601]
 [4744.54659635]
 [3469.01460668]
 [3483.60103144]
 [3864.07212264]
 [5502.27469709]
 [4273.66134922]
 [5654.58693529]
 [3446.92508089]
 [3984.85877654]
 [4709.04867745]
 [4151.81002874]
 [3950.5340624 ]
 [4004.76666109]
 [4317.43099778]
 [3976.91050038]
 [4288.77923128]
 [4684.78384204]
 [4163.47359918]
 [3436.29595228]
 [3459.17712026]
 [4129.3688727 ]
 [4004.73908552]
 [3506.52957483]
 [3592.14356684]
 [3346.36375343]
 [3393.56175125]]

In [52]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_val, y_val_pred)
rmse = mean_squared_error(y_val, y_val_pred, squared = False)

print(mse, rmse)

73926.54871090809 271.89437050242157

In [53]:
y_pred = modelLR.predict(X_test_fin)
print(y_pred)

[[4137.76429021]
 [5337.29085648]
 [4055.60625331]
 [3430.20269805]
 [4673.20033064]
 [4032.07124827]
 [3389.50298936]
 [3667.70190586]
 [3537.28877239]
 [3481.95300763]
 [3373.94433419]
 [5489.40377017]
 [3547.04920558]
 [4085.79063053]
 [3854.60291811]
 [4115.92733357]
 [4372.79770056]
 [3507.34959038]
 [3583.0561694 ]
 [3380.31813768]
 [5341.19771717]
 [4192.66796116]
 [5837.9013786 ]
 [4678.31869894]
 [5386.88535389]
 [5501.33039254]
 [5506.44024156]
 [4222.95576761]
 [3428.52479614]
 [4036.57930254]
 [4164.67934881]
 [3403.41807972]
 [3540.63233783]
 [4623.0340187 ]
 [3349.48929471]
 [3484.6640003 ]
 [3254.77146151]
 [3412.27376778]
 [3941.17830746]
 [4934.90771889]
 [3476.08174117]
 [5587.37563267]
 [4939.06534525]
 [4683.11661954]
 [5742.55016359]
 [3858.89890285]
 [4758.24010347]
 [3275.47134488]
 [5398.66027169]
 [4179.38844937]
 [4663.26989775]
 [4730.34243745]
 [4112.27620784]
 [3804.43961197]
 [3252.50023625]
 [4342.04702228]
 [4824.53768291]
 [4615.49432741]
 [3887.16629759]
 [4089.5483513 ]
 [3691.69808731]
 [4856.4633328 ]
 [3323.79732306]
 [4879.43283457]
 [4090.20814299]
 [4086.52403124]
 [5486.53295817]
 [3243.78477556]
 [4755.20906762]
 [3666.34044017]
 [4032.82755676]
 [3385.56123614]
 [4735.61311149]
 [3275.96315461]
 [4850.18779261]
 [4630.98530066]
 [5369.15474245]
 [3367.91224271]
 [3501.48028741]
 [4793.85974671]
 [3500.3765568 ]
 [5705.3850222 ]
 [3391.38903381]
 [4812.98355056]
 [4681.05986847]
 [3380.31833431]
 [5632.72136076]
 [4199.83456126]
 [3877.51937188]
 [4762.77873912]
 [4134.13225741]
 [4108.50876547]
 [4165.28906168]
 [4217.65375102]
 [5432.04027674]
 [4184.02494379]
 [5297.68795471]
 [3613.30527972]
 [4787.86615473]
 [5349.78017294]
 [3575.28637559]]